<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Pizza <%= pizza.name %> (<%= pizza.id %>)</title>
</head>
<body class="edit">

<h1>Edit Pizza <%= pizza.name %> (<%= pizza.id %>)</h1>

<form action="/pizza/edit" method="post" class="edit-form">

    <div>
        <label for="name">Name</label>
        <input
                type="text"
                id="name"
                name="name"
                value="<%= pizza.name %>"
                required
        >
    </div>

    <div>
        <label for="price">Price</label>
        <input
                type="number"
                id="price"
                name="price"
                value="<%= pizza.price %>"
                step="0.01"
                required
        >
    </div>

    <input type="hidden" name="action" value="pizza-edit">
    <input type="hidden" name="id" value="<%= pizza.id %>">

    <button type="submit">Save</button>
</form>

<ul class="action-list">
    <li>
        <a href="/pizza">Back to list</a>
    </li>

    <li>
        <form action="/pizza/delete" method="post">
            <input
                    type="submit"
                    value="Delete"
                    onclick="return confirm('Are you sure?')"
            >

            <input type="hidden" name="action" value="pizza-delete">
            <input type="hidden" name="id" value="<%= pizza.id %>">
        </form>
    </li>
</ul>

</body>
</html>